  h1{
    color: #000080;
    text-align: center;
    font-size: 64px;
  }
  h2{
      color: #002366;
      text-shadow: 5px 5px 2px #808080;
      font-size: 30px;
  }
  h3{
    color: #002366;
    font-size: 25px;
  }
  p{
    padding-top: 20px;
  }
  ul{
    list-style-image: url("../imgs/tinyM.png");
  }